{% extends 'base.html' %}
{% load staticfiles %}

{% block csstyle %}
    <style>
        .news-content{
        margin: 3px 0;
        max-height: 100px ;
        position: relative;
        overflow: hidden;
    }
    .news-content dt{color: #3ebb2b;font-size: 14px;padding-top:4px;padding-left: 130px;}
    .news-content dd{
        color: #555;
        padding-left: 130px;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .news-pic{position: absolute;top: 0px;left: -130px;}
    .news-li{height: 30px;line-height: 30px;margin: 5px 0;color: #555;border-bottom: 1px dashed #ccc;overflow: hidden}
    .news-li span{float: right; color: #999;}
    .news-li a{color: #555;}
    .other-articles-list{padding: 14px;}
.genre{float:left;text-align: center;width: 31%;   margin: 1%; margin-bottom: 2%;border: 1px solid #3ebb2b;border-radius: 3px;    height: 235px;}
.genre>a>dt>img{width:70%}
.genre dt{padding-bottom: 5px;}
.genre:hover{box-shadow: 0px 1px 7px 2px #3ebb2b;}
.genre dd {font-size: 15px;}
    </style>

{% endblock %}

{% block content %}
    <div class="background-movie">
    <video muted autoplay loop width=100%>
    <source src="/static/image/mda-hcmswkpbvevrdr7u.mp4" type="video/mp4">
    </video>
    </div>
    <section class="pb_cover_v1 text-left cover-bg-black cover-bg-opacity-4"  id="section-home">
      <div class="container">
        <div class="row align-items-center justify-content-end">
          <div class="col-md-6  order-md-1">

            <h1 class="heading mb-3">Angry Potato</h1>
            <div class="sub-heading"><p class="mb-5">A movie review community made by Django</p>
            <p><a href="#container" role="button" class="btn smoothscroll pb_outline-light btn-xl pb_font-13 p-4 rounded-0 pb_letter-spacing-2">Welcome</a></p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="pb_section pb_section_v1" data-section="about" id="index">
      <div class="container" id="container">
        <div class="row">
          <div class="col-lg-5 pr-md-5 pr-sm-0">
            <h2 class="mt-0 heading-border-top mb-3 font-weight-normal">Rating List</h2>
              <ul>
                  {% for item in recommend_movie_list%}
                  <li class="news-li"><a href={%  url 'movie_detail' %}?id={{item.id}}>{{item.name|truncatewords:"20"}}<span>{{ forloop.counter }}</span></a></li>
                  {% endfor %}
                </ul>
          </div>
          <div class="col-lg-7">
            <h2 class="mt-0 heading-border-top mb-3 font-weight-normal">Recently Released</h2>
            <div class="other-articles-list">
              {% for item in recent_movie_list%}
                  <dl class="genre">
                            <a href={%  url 'movie_detail' %}?id={{item.id}}>
                                <dt><img src="{{ item.pic.url }}" alt="{{ item.name }}"></dt>
                                <dd>{{ item.name }}</dd>
                            </a>
                        </dl>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}